@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: #f1f1f1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button {
    background-color: rgb(20, 20, 20);
    color: #f1f1f1;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.15s;

    &:hover {
        background-color: transparent;
        color: rgb(20, 20, 20);
        font-weight: bold;
        outline: 2px solid rgb(20, 20, 20);
        cursor: pointer;
    }
}

table {
    background-color: rgb(200, 200, 200);
    width: 100%;
}

table th {
    background-color: rgb(20, 20, 20);
    color: #f1f1f1;
}

table tr:hover * {
    font-weight: bold;
    cursor: zoom-in;
}

table * {
    text-align: center;
    padding: 1rem;
    transition: all 0.15s;
}

table tr:nth-child(even) {
    background-color: rgb(217, 217, 217);
}

.pagination {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
}

.pagination-controls {
    display: flex;
    gap: 0.5rem;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.pagination-controls button:nth-child(2), 
.pagination-controls button:nth-child(3), 
.pagination-controls button:nth-child(4), 
.pagination-controls button:nth-child(5),
.pagination-controls button:nth-child(6) {
    background-color: transparent;
    color: rgb(20, 20, 20);
}

#details-page, #cve-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#metrics, #cpe-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h1 i {
    font-size: 1.25rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    &:hover {
        cursor: pointer;
        outline: 2px solid rgb(20, 20, 20);
    }
}

h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}